@inject uyg1.Models.AppDbContext _appDbContext
@{
    ViewData["Title"] = "GetRoleList";
}

<h1>Roller</h1>
<a asp-action="RoleAdd" class="btn btn-primary">Role Ekle</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in _appDbContext.Roles.ToList())
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
            </tr>
        }
    </tbody>
</table>